html {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/*----ENCABEZADO----*/

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    position: relative;
    min-height: 40px;
    padding: 2rem 7rem;
}

#logo {
    position: absolute;
    width: 100px;
    height: 100%;
    top: 0;
    left: 0;
    margin-right: 20px;
    border-radius: 50px;
}

#garagecompleto {
    font-style: italic;
    display: flex;
    position: absolute;
    margin: 0;
    left: 120px;
}

#lupaBuscador {
    display:block;
    position:absolute;
    left: 750px;
}

#buscador {
    border-radius: 30px;
}

#buscador:hover {
    box-shadow: 0 0.1rem 0.4rem rgba(0,0,0,0.3);
    transition: all 0.3s;
}

/*----BODY----*/

body {
    margin: 0;
}

#botonesIndice ul {
    background-color: black;
    color: #fff;
    position: absolute;
    width: 100%;
    padding: 0;
    margin:auto;
    list-style: none;
}

.indice {
    display: block;
    float: left;
    padding: 10px 25px;
    cursor: pointer;
}

.indice:hover {
    background-color: #fff;
    color: black;
    transition: all 0.3s;
}

/*----PIE DE PÁGINA----*/

footer {
    background-color: rgb(77, 74, 74);
    position: relative;
    top: 410px;
    padding: 2rem;
}

#copyright {
    text-align: right;
}

#instagram {
    text-decoration: none;
}

#instagram:visited {
    color: cyan;
}

#instagram:hover {
    color: #fff;
}

#instagram:active {
    color: darkcyan;
}

#contactanos {
    text-decoration: none;
}

#contactanos:visited {
    color: cyan;
}

#contactanos:hover {
    color: #fff;
}

#contactanos:active {
    color: darkcyan;
}

/* @media (max-width:700px){
    header {
        flex-direction: column;
    }
} */