html {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/*----------------------------ENCABEZADO----------------------------*/

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    position: relative;
    min-height: 40px;
    padding: 2rem 7rem;
}

#logo {
    position: absolute;
    width: 100px;
    height: 100%;
    top: 0;
    left: 0;
    margin-right: 20px;
    border-radius: 50px;
}

#garagecompleto {
    font-style: italic;
    display: flex;
    position: absolute;
    margin: 0;
    left: 120px;
}

/* <nav id="lupaBuscador">
            <label for="buscador"><i class="fa-solid fa-magnifying-glass"></i></label>
            <input id="buscador" placeholder="Buscar marca" />
            <ul id="listaBuscador">
                <a class="a" href="Ford.html"><li class="marcaBuscador">Ford</li></a>
                <a class="a" href="Lamborghini.html"><li class="marcaBuscador">Lamborghini</li></a>
                <a class="a" href="Mercedes.html"><li class="marcaBuscador">Mercedes Benz</li></a>
                <a class="a" href="Ferrari.html"><li class="marcaBuscador">Ferrari</li></a>
                <a class="a" href="Subaru.html"><li class="marcaBuscador">Subaru</li></a>
                <a class="a" href="Audi.html"><li class="marcaBuscador">Audi</li></a>
            </ul>
        </nav>  */

/* #lupaBuscador {
    position:absolute;
    left: 750px;
}

#buscador {
    border-radius: 30px;
}

#buscador:hover {
    box-shadow: 0 0.1rem 0.4rem rgba(0,0,0,0.3);
    transition: all 0.3s;
}

#listaBuscador {
    position: fixed;
    display: none;
    background-color: #fff;
    left: 770px;
    padding: 0;
    margin: 10px 0;
    width: 180px;
    list-style: none;
    cursor: pointer;
    z-index: 100;
}

.marcaBuscador {
    padding: 5px;
}

.marcaBuscador:hover {
    background-color: rgb(119, 119, 119);
}

#listaBuscador a{
    text-decoration: none;
    color: black;
} */

/*----------------------------BODY----------------------------*/

body {
    margin: 0;
}

#botonesIndice ul {
    background-color: black;
    color: #fff;
    position: absolute;
    display: block;
    width: 100%;
    padding: 0;
    margin:auto;
    list-style: none;
}

.indice {
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
    text-align: center;
    padding: 10px 30px;
    cursor: pointer;
}

#botonesIndice a {
    text-decoration: none;
    background-color: black;
    color: #fff;
}

#botonesIndice a:visited {
    color: #fff;
}

.indice:hover {
    background-color: #fff;
    color: black;
    transition: all 0.3s;
}

section h1 {
    font-size: 50px;
    margin: 4rem 2rem 2rem 2rem;
}

section h2 {
    margin: 0 2rem;
}

.noticias {
    position: relative;
    background-color: #fff;
    min-height: 300px;
    margin: 3rem 1rem;
    border: 1px;
    border-style:dashed;
    border-color: rgb(136, 134, 134);
    box-shadow: 0 0.1rem 0.4rem rgba(0,0,0,0.3);
}

.noticias div img {
    padding: 1.5%;
    width: 30%;
}

.Responsive{
    display: none;
    padding: 1.5%;
    width: 30%;
}

.parrafoNoticia {
    text-align: justify;
    padding: 1rem;
    padding-top: 0;
    margin: 0;
    font-size: 20px;
    line-height: 25px;
}

#irAlComienzo {
    position:fixed;
    top: 90%;
    left: 95%;
    width: 50px;
    height: 50px;
    background-color: black;
    color:#fff;
    border-radius: 50px;
    cursor:pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    z-index: 100;
}

/*----------------------------PIE DE PÁGINA----------------------------*/

footer {
    background-color: rgb(77, 74, 74);
    padding: 2rem;
}

#copyright {
    margin-right: 50px;
    text-align: right;
}

#instagram {
    text-decoration: none;
    color: cyan;
}

#instagram:visited {
    color: cyan;
}

#instagram:hover {
    color: #fff;
}

#instagram:active {
    color: darkcyan;
}

#contactanos {
    text-decoration: none;
    color: cyan;
}

#contactanos:visited {
    color: cyan;
}

#contactanos:hover {
    color: #fff;
}

#contactanos:active {
    color: darkcyan;
}

/*----------------------------MARCAS----------------------------*/

.marcas {
    position: relative;
    display: inline-block;
    width: 300px;
    height: 250px;
    margin: 50px 70px;
    border-radius: 10px;
    cursor: pointer;
}

.marcas:hover {
    box-shadow: 0 0.1rem 1rem rgba(0,0,0,0.3);
    transition: all 0.4s;
}

.marcas img {
    position:absolute;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.marcas div {
    position:absolute;
    background-color: #fff;
    padding: 5px;
    top:85%;
    left:2%;
    z-index: 1;
    font-size: 20px;
}

.linkAMarca {
    text-decoration: none;
    color: black;
}

.linkAMarca:visited {
    color: black;
}

#textoRarezas {
    margin-bottom: 1rem;
}

/*----------------------------EN CADA MARCA----------------------------*/

.nombreMarca {
    font-size: 50px;
    margin: 4rem 2rem 2rem 2rem;
    text-align: center;
}

.sectionMarca {
    margin-bottom: 50px;
}

.modelo {
    position: relative;
    display: block;
    margin: 0px 50px;
    height: 100px;
    border: 1px dashed rgb(136, 134, 134);
}

.modelo img {
    height: 100%;
    width: 120px;
}

.modelo p {
    display:inline-block;
    margin: 20px;
    position: absolute;
    top: 20%;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
}

.modelo p a {
    text-decoration: none;
}

.modelo p a:hover {
    text-shadow: 0 0.1rem 1rem rgba(0,0,0,0.3);
    transition: all 0.4s ease;
}

/*----------------------------EN CADA MODELO----------------------------*/

.nombreModelo {
    text-align: center;
}

.fotosDe {
    margin-left: 20px;
    margin-bottom: 5px;
}

.infoDelAuto {
    position: relative;
    background-color: #fff;
    min-height: 500px;
    margin: 3rem 1rem;
    margin-bottom: 1rem;
    margin-top: 5px;
    border: 1px;
    border-style:dashed;
    border-color: rgb(136, 134, 134);
    box-shadow: 0 0.1rem 0.4rem rgba(0,0,0,0.3);
}

#contenedorDeFoto {
    position: relative;
    display: inline-block;
    padding: 1rem;
    width: 320px;
    height: 270px;
}

#contenedorDeFoto img {
    position:absolute;
    width: 100%;
    height: 100%;
}

#contenedorDeFoto:hover #segunda {
    left: 16px;
    transition: all 0.5s ease;
}

#segunda {
    left: 400px;
    z-index: 10;
}

#tercera {
    position: relative;
    width: 350px;
    height: 270px;
    left: 35%;
}

#p1 {
    position: absolute;
    text-align: justify;
    display:inline-block;
    left: 370px;
    padding: 1rem 1rem;
    margin: 0;
    height: 290px;
    min-width: 400px;
    z-index: 20;
    background-color: #fff;
}

#p2 {
    text-align: justify;
    font-size: 20px;
    display: block;
    line-height: 25px;
    padding: 1rem 1rem;
    margin: 0;
}

#referencias{
    margin-left: 20px;
    margin-bottom: 15px;
}

/* OPCION DE BOTON DE SIGUIENTE EN LA FOTO: */

/* <button id="siguienteFoto"><div><i class="fa-solid fa-arrow-right"></i></div></button> */

/* .segunda.clickeado {
    left: 16px;
} 

#siguienteFoto {
    visibility: hidden;
    position: absolute;
    top: 50%;
    left: 93.7%;
    width: 40px;
    height: 40px;
    border: 0;
    background-color: rgb(82, 78, 78);
    color: #fff;
    cursor: pointer;
}

#siguienteFoto div {
    position: absolute;
    top: 32%;
    left: 34%;
} */

/*----------------------------JUEGOS----------------------------*/

#juegos {
    text-align: center;
}

.contenedorDeJuego {
    position: relative;
    display: inline-block;
    width: 300px;
    height: 250px;
    margin: 50px 70px;
    border-radius: 10px;
    cursor: pointer;
}

.contenedorDeJuego:hover {
    box-shadow: 0 0.1rem 1rem rgba(0,0,0,0.3);
    transition: all 0.4s;
}

.contenedorDeJuego img {
    position:absolute;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.contenedorDeJuego div {
    position:absolute;
    background-color: #fff;
    padding: 5px;
    top:85%;
    left:2%;
    z-index: 1;
    font-size: 20px;
}

.linkAJuego {
    text-decoration: none;
    color: black;
}

.linkAJuego:visited {
    color: black;
}

/*----------------------------ACERCA DE----------------------------*/

section > p {
    text-align: justify;
    font-size: 20px;
    line-height: 25px;
    padding: 1rem;
}

/*----------------------------¿QUE AUTO ES?----------------------------*/

.quiz {
    position: relative;
    display: inline-block;
    width: 300px;
    height: 500px;
    margin: 50px 70px;
    border: 2px dashed gray;
}

.quiz img {
    position: absolute;
    width: 100%;
    height: 70%;
}

.opciones {
    position: absolute;
    top: 71%;
    width: 100%;
    background-color: #fff;
}

.opciones ul {
    padding: 0;
}

.opciones ul li {
    list-style: none;
    text-align: center;
    margin: 10px;
}

.respuesta {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70%;
    background-color: black;
    opacity: 60%;
    color: #fff;
    visibility: hidden;
}

.respuesta div {
    position: absolute;
    text-align:center;
    padding: 0;
    margin: auto;
    color: #fff;
    font-size: 30px;
}

.quiz:hover .respuesta {
    visibility: visible;
}

/*----------------------------IMPOSTOR----------------------------*/

.quizImpostor {
    position: relative;
    display: inline-block;
    width: 300px;
    height: 500px;
    margin: 50px 70px;
    border: 2px dashed gray;
}

.quizImpostor img {
    position: absolute;
    width: 100%;
    height: 100%;
}

.respuestaImpostor {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 60%;
    color: #fff;
    visibility: hidden;
}

.respuestaImpostor div {
    position: absolute;
    text-align:center;
    padding: 0;
    margin: auto;
    color: #fff;
    font-size: 20px;
}

.respuestaImpostor div ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.quizImpostor:hover .respuestaImpostor {
    visibility: visible;
}

/* .cadaOpcion {
    margin: 10px;
}

.cadaOpcion input , .cadaOpcion div {
    display: inline-block;
}

.resultados {
    position: absolute;
    top: 71%;
    width: 100%;
    z-index: 20;
    visibility: hidden;
    background-color: #fff;
}

.resultados.respuesta {
    visibility: visible;
}

.resultados ul li {
    list-style: none;
    margin: 10px;
} */

/* .botonOpcion:checked .resultados {
    z-index: 20;
} */

@media (min-height: 100px) and (max-width:830px){
    header{
        min-height: 50px;
    }
    #logo{
        width: 25%;
    }
    #garagecompleto{
        left: 30%;
    }
    .indice{
        height: 40px;
        width: 17.5%;
    }
    #botonesIndice a{
        font-size: 20px;
    }
    .noticias{
        min-height: 600px;
    }
    .noticias div img{
        padding: 1.5%;
        width: 97%;
    }
    .NoResponsive{
        display: none;
    }
    .Responsive{
        display: block;
        padding: 1.5%;
        width: 97%;
    }
    .parrafoNoticia{
        left: 1%;
        top: 280px
    }
    footer div, footer a{
        font-size: 20px;
    }
    #irAlComienzo{
        top: 85%;
        left: 85%;
        width: 10%;
        height: 5%;
    }
    #copyright{
        display: block;
        text-align: left;
        margin: 25px 0;
    }
}
@media (min-height: 100px) and (max-width:827px){
    .indice{
        width: 12.5%;
    }
}
@media (min-height: 100px) and (max-width:730px){
    .indice{
        height: 25px;
        width: 12.5%;
        font-size: 16px;
    }
}
@media (min-height: 100px) and (max-width:590px){
    .indice{
        height: 20px;
        width: 12.5%;
        font-size: 12px;
    }
}
@media (min-height: 100px) and (max-width:500px){
    #garagecompleto{
        font-size: 25px;
    }
    .indice{
        height: 20px;
        padding: 2% 6%;
        font-size: 12px;
    }
}
@media (min-height: 100px) and (max-width:450px){
    header{
        min-height: 15px;
    }
    .indice{
        height: 20px;
        padding: 2% 5%;
        font-size: 12px;
    }
}
@media (min-height: 100px) and (max-width:350px){ 
    #garagecompleto{
        font-size: 18px;
    }
    section h1 {
        font-size: 35px;
    }
}